%p
  = form_for :participant, :url => {:action => :insert}, :html => {:id => "tool-form"}, :remote => true do |f|
    = f.text_field :uid
    = f.submit :abschicken
    %span#loading
      = image_tag("loading.gif", :size => "16x16" )

%div#boulder_insert_form